@import "../../../styles/variables";

.hero_mainContainer {
  margin-top: 10px;
  background-image: url("../../../assets/banner-sm-carestream-contact.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 449px;
  display: flex;
  align-items: center;

  .hero_container {
    width: 100%;
    display: flex;
    justify-content: center;
    .hero_content_container {
      max-width: 1140px;
      margin: 0 auto;
      width: 100%;
      padding: 0 16px;
      display: flex;
      justify-content: center;
      align-items: center;

      .hero_heading {
        color: rgb(255, 255, 255);
        font-family: $secondary-font;
        font-size: 3.25rem;
        line-height: 3.25rem;
        font-weight: 500;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .hero_mainContainer {
    background-image: none;
    height: auto;

    .hero_container {
      width: 100%;
      display: flex;
      justify-content: center;
      background-image: url("../../../assets/banner-sm-carestream-contact.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 400px;
      max-height: 525px;
      display: flex;
      align-items: center;
      margin-top: 80px;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero_mainContainer {
    .hero_container {
      height: 125px;
      .hero_content_container {
        flex-direction: column;
        padding: 1.25rem;

        .hero_heading {
          font-size: 1.8125rem;
        }
      }
    }
  }
}
