@import "../../../styles/variables";

.hero_mainContainer {
  margin-top: 41px;
  background-image: url("../../../assets/banner-lg-carestream-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 449px;
  display: flex;
  align-items: center;

  .hero_container {
    width: 100%;
    display: flex;
    justify-content: center;
    .hero_content_container {
      max-width: 1140px;
      margin: 0 auto;
      width: 100%;
      padding: 0 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      .hero_heading {
        color: rgb(255, 255, 255);
        font-family: $secondary-font;
        font-size: 3.25rem;
        line-height: 3.25rem;
        font-weight: 500;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
      }

      .hero_content {
        color: rgb(255, 255, 255);
        font-family: $secondary-font;
        font-size: 1.25rem;
        margin: 0.5rem 0;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        max-width: 722px;
        width: 100%;
        font-weight: 500;
      }

      .links_container {
        width: 350px;
        max-width: 350px;
        display: flex;
        flex-direction: column;

        .links_container__link {
          color: rgb(255, 255, 255);
          background-color: rgb(245, 128, 37);
          display: flex;
          height: 50px;
          margin-bottom: 10px;
          min-width: 270px;
          padding: 0 16px;
          position: relative;
          justify-content: space-between;
          align-items: center;
          font-weight: 500;
          font-family: $secondary-font;
          font-size: 1.125rem;
          border-radius: 5px;
          text-decoration: none;

          &:hover {
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
            background-color: #a8510d;
          }
          .__rightarrow {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .hero_mainContainer {
    background-image: none;
    height: auto;

    .hero_container {
      width: 100%;
      display: flex;
      justify-content: center;
      background-image: url("../../../assets/banner-lg-carestream-home.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 400px;
      max-height: 525px;
      display: flex;
      align-items: center;
      margin-top: 48px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .hero_mainContainer {
    .hero_container {
      height: auto;
      // margin-top: 80px;
      .hero_content_container {
        flex-direction: column;
        padding: 1.25rem;

        .hero_heading {
          color: rgb(255, 255, 255);
          font-family: $secondary-font;
          font-size: 1.8125rem;
          line-height: 1.8125rem;
          font-weight: 500;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        }

        .hero_content {
          color: rgb(255, 255, 255);
          font-family: $secondary-font;
          font-size: 1.1rem;
          margin: 0.5rem 0;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
          max-width: 722px;
          width: 100%;
          font-weight: 500;
        }

        .links_container {
          width: 100%;
          max-width: 100%;
          display: flex;
          flex-direction: column;

          .links_container__link {
            color: rgb(255, 255, 255);
            background-color: rgb(245, 128, 37);
            display: flex;
            height: 50px;
            margin-bottom: 10px;
            min-width: 100%;
            padding: 0 16px;
            position: relative;
            justify-content: space-between;
            align-items: center;
            font-weight: 500;
            font-family: $secondary-font;
            font-size: 1.125rem;
            border-radius: 5px;
            text-decoration: none;

            &:hover {
              box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
              background-color: #a8510d;
            }
            .__rightarrow {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
